.badge {
  @extend %sm-padding;

  display: inline-block;
  font-style: italic;

  &--success {
    background-color: $green;
    color: #fff;
  }

  &--default {
    background-color: $light-grey;
  }
}
