.badge {
  @extend %sm-padding;

  display: inline-flex;
  align-items: center;
  font-style: italic;

  &:not(:first-child) {
    margin-left: 8px;
  }

  &--success {
    background-color: $green;
    color: #fff;
  }

  &--warning {
    background-color: $orange;
    color: #fff;
  }

  &--error {
    background-color: $red;
    color: #fff;
  }

  &--primary {
    background-color: $blue;
    color: #fff;
  }

  &--default {
    background-color: $light-grey;
  }
}
