.btn {
  border: none;
  cursor: pointer;

  &--clear {
    background-color: transparent;
    padding: 0;
  }

  &--action {
    background-color: $green;
    color: #fff;
    padding: .5em 16px;
    font-size: 1em;

    &:hover,
    &:focus {
      background-color: darken($green, 5);
    }
  }

  &--link {
    @extend .btn--clear;

    color: $blue;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: darken($blue, 10);
    }
  }

  &:disabled {
    background-color: darken($light-grey, 10);
    cursor: not-allowed;
  }
}
