.form {
  &__row {
    margin-bottom: 1em;

    &--error {
      label {
        color: $red;
      }

      input {
        border-color: $red
      }
    }
  }

  &--default {
    label {
      margin-bottom: .3em;
      display: block;
    }

    input,
    textarea {
      width: 100%;
      display: block;
    }
  }
}
