@import "../../scss/variables", "../../scss/extends";

.product {
  &__content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
  }

  &__image {
    @extend %center, %lg-padding, %based-border;

    height: 300px;
    width: 300px;
    margin-right: 20px;
  }
}

.type-switcher {
  @extend %based-border;

  display: flex;
  width: fit-content;

  &__item {
    height: 36px;
    width: 36px;

    &:not(:last-child) {
      border-right: 1px solid $light-grey;
    }
  }

  &__btn {
    padding: 4px;

    img {
      vertical-align: middle;
      line-height: 100%;
    }
  }
}

.reviews {
  &__item {
    font-size: 14px;
    margin-bottom: 1em;
  }

  &__text {
    color: lighten($dark-grey, 40);
    margin: {
      top: 0;
      bottom: 0;
    }
  }
}
