@import "../../scss/variables", "../../scss/extends";

.product {
  width: 700px;
  margin: 0 auto;

  &__content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
  }

  &__image {
    @extend %center;

    height: 300px;
    width: 300px;
    padding: 1em 20px;
    border: 1px solid $light-grey;
    margin-right: 20px;
  }
}

.type-switcher {
  display: flex;
  width: fit-content;
  border: 1px solid $light-grey;

  &__item {
    height: 36px;
    width: 36px;

    &:not(:last-child) {
      border-right: 1px solid $light-grey;
    }
  }

  &__btn {
    padding: 4px;

    img {
      vertical-align: middle;
      line-height: 100%;
    }
  }
}

.reviews {
  &__item {
    font-size: 14px;
    margin-bottom: 1em;
  }

  &__text {
    color: lighten($dark-grey, 40);
    margin: {
      top: 0;
      bottom: 0;
    }
  }
}
