@import "../../scss/variables", "../../scss/helpers";

.events {
  h1 {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  &__menu {
    @extend .h-list-unstyled;

    margin: {
      top: 0;
      bottom: 0;
    };

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
