@import
  "scss/variables",
  "scss/helpers",
  "scss/extends",
  "scss/common",
  "scss/components/btn",
  "scss/components/badge",
  "scss/components/form";

.app {
  margin-top: 2em;
}

.content {
  width: 700px;
  margin: 2em auto;
}

.router-link-active {
  color: darken($blue, 10);
  text-decoration: none;
}

.cart {
  @extend %lg-padding, %based-border;

  margin-top: 1em;
  display: flex;
  justify-content: space-between;

  &--has-product {
    border-color: darken($light-grey, 10);
  }
}
