@import
  "scss/variables",
  "scss/helpers",
  "scss/extends",
  "scss/common",
  "scss/components/btn",
  "scss/components/badge",
  "scss/components/form";

.app,
.content {
  margin-top: 2em;
}

.cart {
  @extend %lg-padding, %based-border;

  margin-top: 1em;
  display: flex;
  justify-content: space-between;

  &--has-product {
    border-color: darken($light-grey, 10);
  }
}
