%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%lg-padding {
  padding: 1em 20px;
}

%sm-padding {
  padding: .5em 8px;
}

%based-border {
  border: 1px solid $light-grey;
}
