.h-list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

.h-link-unstyled {
  color: inherit;
  text-decoration: none;
}

.h-text-center {
  text-align: center;
}

.h-text-right {
  text-align: right;
}

.h-text-secondary {
  font-size: 12px;
}

.h-color-green {
  color: $green;
}

.h-color-red {
  color: $red;
}

.h-color-orange {
  color: $orange;
}

.h-color-grey {
  color: darken($light-grey, 30);
}
